* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e90893de;
    color: #faf8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #0e0e0e;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

section {
    width: 100%;
    max-width: 500px;
    background:rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

input, button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #db1682f3;
    font-size: 16px;
}

button {
    background-color: rgba(255, 0, 221, 0.404);
    color: white;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(240, 12, 172);
}

p {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    color:rgb(22, 21, 21);
}

span {
    color: #0e0e0e;
    font-weight: bold;
}

.imagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.imagens img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

@media (max-width: 600px) {
    section {
        padding: 15px;
    }

    input, button {
        font-size: 14px;
    }

    h1, h2 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }
}
footer{
    display: flex;
    flex-direction: column;
    border-color: red;
    color: black;
}